<a href="https://colab.research.google.com/github/ashish-ntt-training/python-ml-journey/blob/main/Day1_ML_journey.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Day 1** - April 07, 2025

In [ ]:
print("hello world")

hello world

In [ ]:
a = 10
b = 10

print(a==b)

True

**Day 2** - April 09, 2025

In [ ]:
a=10
b=20
c=a
print(id(a)) # id function returns the memory location of a varaiable
print(id(b))
print(id(c))

10751144
10751464
10751144

In [ ]:
a,b,c=10,20,30 # Variables can be assigned like this also
print(a,b,c)

10 20 30

In [ ]:
a=b=c=10 # Variables can be assigned like this also
print(a,b,c)

10 10 10

In [ ]:
import keyword as kw # it lists all the keywords reserved in Python here "kw" is alias it can be anything
print(kw.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
# multiline comment
"""This is
a multiline
comment"""
print("Hello")

Hello

In [ ]:
#python string
a = 'ntt'
b = "data"
print(a)
print(b)
print(a,b)

ntt
data
ntt data

In [ ]:
#multiline string
a = """aassds
ddddd
ddfff
fsdssws"""
print(a)

aassds
ddddd
ddfff
fsdssws

In [ ]:
# Positive String Indexing
a = 'NTT DATA'
print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[4])
print(a[5])
print(a[6])
print(a[7])

N
T
T

D
A
T
A

In [ ]:
# Negative String Indexing
a = 'NTT DATA'

print(a[-1])
print(a[-2])
print(a[-3])
print(a[-4])
print(a[-5])
print(a[-6])
print(a[-7])
print(a[-8])

A
T
A
D

T
T
N

**Day 3** - April 11, 2025

In [ ]:
# Creating a simple list

l = [10,20.3,"NTT", 3+4j]
print(l)
print(type(l))

[10, 20.3, 'NTT', (3+4j)]
<class 'list'>

In [ ]:
# type function returns the datatype class

a = 10
print(type(a))

b = 'NTT'
print(type(b))

c = 3.414
print(type(c))

d = 3+4J
print(type(d))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'complex'>

In [ ]:
# isinstance

a = 10
print(isinstance(a,int))
print(isinstance(a,float))
print(isinstance(a,str))

True
False
False

In [ ]:
# variable annotation

name: str = "Data"
print(name)

print(__annotations__['name'])
print(type(name))

Data
<class 'str'>
<class 'str'>

In [ ]:
# variable annotation

val: str = 10
print(val)

print(__annotations__['val'])
print(type(val))

10
<class 'str'>
<class 'int'>

**Day 6** - April 21, 2025

In [ ]:
# Lists

l1 = [10,20,3.14,"NTT Data", 2+3j,[100,200,300]]

print(l1)

print(type(l1))

print(l1[0],l1[-1])

[10, 20, 3.14, 'NTT Data', (2+3j), [100, 200, 300]]
<class 'list'>
10 [100, 200, 300]

In [ ]:
# Slicing in list
l2 = [10,20,3.14,"NTT Data", 2+3j,[100,200,300]]

print(l2[0:4])
print(l2[0:4:2])
print(l2[::])
print(l2[::-1])

[10, 20, 3.14, 'NTT Data']
[10, 3.14]
[10, 20, 3.14, 'NTT Data', (2+3j), [100, 200, 300]]
[[100, 200, 300], (2+3j), 'NTT Data', 3.14, 20, 10]

In [ ]:
# Concatenation of lists

l1 = [10,20,34]
l2 = [50,60,70]
l3 = l1 + l2

print(l1)
print(l2)
print(l3)

print(id(l1))
print(id(l2))
print(id(l3))

[10, 20, 34]
[50, 60, 70]
[10, 20, 34, 50, 60, 70]
136125959138944
136125957368128
136125957360128

In [ ]:
# Multiplication of lists

l1 = [10,20,30]
l2 = l1*3

print(l1*2)
print(l2)

[10, 20, 30, 10, 20, 30]
[10, 20, 30, 10, 20, 30, 10, 20, 30]

In [ ]:
# Iteration of list

l1 = [10,20,30,40,50]

for i in l1:
  print(i)

10
20
30
40
50

In [ ]:
# Iteration of list

l1 = [10,20,30,40,50]

for i in l1:
  print(i+5)

15
25
35
45
55

In [ ]:
# Iteration of list

for i in [10,20,30,40,50]:
  print(i+6)

16
26
36
46
56

In [ ]:
# Membership operator - in

print(10 in [10,20,30,40,50])
print(100 in [10,20,30,40,50])

print('s' in 'NTT Data')
print('N' in 'NTT Data')

True
False
False
True

In [ ]:
# Membership operator - not in

print(100 not in [10,20,30,40,50])
print(10 not in [10,20,30,40,50])

print('s' not in 'NTT Data')
print('N' not in 'NTT Data')

print ('NTT' in "NTT DATA")

True
False
True
False
True

In [ ]:
# Deletion of a list - del

l1 = [10,20,30,40,50]

print(l1)
del l1 # deleting the l1 list
print(l1) #will throw error 'l1' is not defined

[10, 20, 30, 40, 50]

NameError: name 'l1' is not defined

In [ ]:
# Deletion of an element in list - del

l1 = [10,20,30,40,50]

print(l1)
del l1[1] # deleting the elemenmt at position 1
print(l1)

[10, 20, 30, 40, 50]
[10, 30, 40, 50]

In [ ]:
# Inbuilt functions
# max()

l1 = [10,200,3,500,80]
print(max(l1))

l2 = ['aaa','bbbb','ccc']
print(max(l2)) #ASCII vlue will be compared

500
ccc

In [ ]:
# Inbuilt functions
# max()

l3 = [10,20,'ntt data']
print(max(l3)) # will throw an error - cannot compare between string and integer

TypeError: '>' not supported between instances of 'str' and 'int'

In [ ]:
# Inbuilt functions
# max()

l4 = ['aaa','bbbb','cccccccc']
print(max(l4 , key = len)) #compare based on length, len is inbuild method

cccccccc

In [ ]:
# Inbuilt functions
# max()

l5 = []
print(max(l5,default = 0)) # giving a default value in case list is empty

0

In [ ]:
# min() functin returns the minimum element, rest all is same as max()

In [ ]:
# append function - this function doesn't returns anything

l1  = [10,20,30,40]

print(l1)

l1.append(50)
print(l1)

l1.append(80)
l1.append(70)
l1.append([60,90,2+3j])
l1.append('ntt data')
print(l1)

[10, 20, 30, 40]
[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50, 80, 70, [60, 90, (2+3j)], 'ntt data']

In [ ]:
# take six inputs and add it to list

l1 = [1,2,3,4]

count = 1
while count <= 6:
  element = input("Enter element")
  l1.append(element)
  count +=1

print(l1)

Enter elementa
Enter elementb
Enter elementn
Enter elementd
Enter elemente
Enter elementf
[1, 2, 3, 4, 'a', 'b', 'n', 'd', 'e', 'f']

In [ ]:
# take six inputs and add it to list

list = []
for i in range(6):
  num = int(input("Enter a number"))
  list.append(num)

print(list)

Enter a number1
Enter a number2
Enter a number3
Enter a number4
Enter a number5
Enter a number6
[1, 2, 3, 4, 5, 6]

In [ ]:
# Extend mathod

l1 = [10,20,30]
l2 = [40,50,60]

print(l1)
print(l2)

l1.extend(l2)

print(l1)

[10, 20, 30]
[40, 50, 60]
[10, 20, 30, 40, 50, 60]

In [ ]:
# Extend mathod

l1 = [10,20,30]
l2 = [40,50,60]

print(l1)
print(l2)

l1.extend(['a','b',50])

print(l1)

[10, 20, 30]
[40, 50, 60]
[10, 20, 30, 'a', 'b', 50]

In [ ]:
# Insert method
# Syntax - list.insert(index,element)

l1 = [10,20,30,40,50]
print(l1)

l1.insert(0,1000)
print(l1)

l1.insert(3,2000)
print(l1)

[10, 20, 30, 40, 50]
[1000, 10, 20, 30, 40, 50]
[1000, 10, 20, 2000, 30, 40, 50]

In [ ]:
# Remove method
# Syntax - list.remove(element)
# Removes the first occurance of the elemnent

l1 = [10,20,30,40,50]
print(l1)

l1.remove(30)
print(l1)

[10, 20, 30, 40, 50]
[10, 20, 40, 50]

In [ ]:
# Remove method
# Syntax - list.remove(element)
# Removes the first occurance of the elemnent

l1 = [10,20,30,40,30,50]
print(l1)

l1.remove(30)
print(l1)

[10, 20, 30, 40, 30, 50]
[10, 20, 40, 30, 50]

In [ ]:
# Pop method
# Syntsx - list.pop(index)
# removes the element at provided index. If index not provided then last element is removed.
# Returns the popped element

l1 = [10,20,30,40,50]
print(l1)

l1.pop()
print(l1)

l1.pop(2)
print(l1)

[10, 20, 30, 40, 50]
[10, 20, 30, 40]
[10, 20, 40]

In [ ]:
# Pop method
# Syntsx - list.pop(index)
# removes the element at provided index. If index not provided then last element is removed.
# Returns the popped element

l1 = [10,20,30,40,50]
print(l1)

res=l1.pop()
print(res)
print(l1)

[10, 20, 30, 40, 50]
50
[10, 20, 30, 40]
[10, 20, 30, 40, 50]
20
[10, 20, 30, 40]

In [ ]:
# Pop method
# Syntsx - list.pop(index)
# removes the element at provided index. If index not provided then last element is removed.
# Returns the popped element

l2 = [10,20,30,40,50]
print(l2)

res=l2.pop(1)
print(res)
print(l2)

[10, 20, 30, 40, 50]
20
[10, 30, 40, 50]

In [ ]:
# Clear method
# Syntax - list.clear()
# removes all element in a list

l1 = [10,20,30,40,50]
print(l1)

l1.clear()
print(l1)

[10, 20, 30, 40, 50]
[]

In [ ]:
# Del method
# Syntax - del list[index] - deletes the index element
# Syntax - del list[index1:index2] - deletes index1 to index2
# Syntax - del list - deletes entire list

l1 = [10,20,30,40,50,60]
print(l1)

del l1[2]
print(l1)

[10, 20, 30, 40, 50, 60]
[10, 20, 40, 50, 60]

In [ ]:
# Del method
# Syntax - del list[index] - deletes the index element
# Syntax - del list[index1:index2] - deletes index1 to index2
# Syntax - del list - deletes entire list

l1 = [10,20,30,40,50,60]
print(l1)

del l1[2:4]
print(l1)

[10, 20, 30, 40, 50, 60]
[10, 20, 50, 60]

In [ ]:
# Del method
# Syntax - del list[index] - deletes the index element
# Syntax - del list[index1:index2] - deletes index1 to index2
# Syntax - del list - deletes entire list

l1 = [10,20,30,40,50,60]
print(l1)

del l1
print(l1) # Throws error because l1 no longer exists

[10, 20, 30, 40, 50, 60]

In [ ]:
# program to remove duplicate element
# input l1 = [10,20,10,30,20,45]
# output = [10,20,30,45]

l1 = [10,20,10,30,20,45]
l2 = []
for num in l1:
  if num not in l2:
    l2.append(num)
print(l2)

[10, 20, 30, 45]

In [ ]:
# Find second largest element in list

l1 = [10,30,40,20,50]

l1.sort()
print(l1)
print(l1[-2])

[10, 20, 30, 40, 50]
40

In [ ]:
# Find second largest element in list

l1 = [10,30,40,20,50]

l1.remove(max(l1))
print(max(l1))

40

**Day 7** - April 23, 2025

In [ ]:
# list() method
# Syntax - list(Iterable)
# Iterable can be string, list, tupple etc.

str = "NTT DATA"

l1 = list(str)

print(l1)

['N', 'T', 'T', ' ', 'D', 'A', 'T', 'A']

In [ ]:
# list() method

l1 = list()
print(l1)

print(type(l1))

[]
<class 'list'>

In [ ]:
# list() method

l2 = list(range(1,5))
print(l2)

[1, 2, 3, 4]

In [ ]:
# Remove duplicate and count the occurance
# given list l1 = [2,3,3,4,4,4,2,6,7,8,6]
#output = [2,3,4,6,7,8]
#count = [2,2,3,2,1,1]

l1 = [2,3,3,4,4,4,2,6,7,8,6,5]

#output = [2,3,4,6,7,8]
#count = [2,2,3,2,1,1]

l2 = []
l3 = []
for num in l1:
  if num not in l2:
    l2.append(num)
    l3.append(l1.count(num))

print(l2)
print(l3)

[2, 3, 4, 6, 7, 8, 5]
[2, 2, 3, 2, 1, 1, 1]

In [ ]:
# Tuples

t1 = (1,2,3,4)

print(t1)
print(type(t1))

(1, 2, 3, 4)
<class 'tuple'>

In [ ]:
# Tuples

t1 = (1, 2, 3, 4, "NTT Data", 3.14, [6,7,8],(5,6,7))

print(t1)
print(type(t1))

(1, 2, 3, 4, 'NTT Data', 3.14, [6, 7, 8], (5, 6, 7))
<class 'tuple'>

In [ ]:
# tuple() method

s = "NTT DATA"
t2 = tuple(s)

print(t2)
print(type(s))
print(type(t2))

('N', 'T', 'T', ' ', 'D', 'A', 'T', 'A')
<class 'str'>
<class 'tuple'>

In [ ]:
# tuple() method

s = "NTT DATA"
t2 = tuple(s)

l1 = [10,20,30]

t3 = tuple(l1) #converts list to a tuple
print(t3)

l5 = list(t3) #converts tuple to a list
print(l5)

(10, 20, 30)
[10, 20, 30]

In [ ]:
# tuple with a single element

t5 = (6)
print(t5)
print(type(t5))

6
<class 'int'>

In [ ]:
# tuple with a single element

t5 = (6,)
print(t5)
print(type(t5))

(6,)
<class 'tuple'>

In [ ]:
# tuple concatenation

t1 = (1,2,3,"NTT",2+3j)
t2 = (4,5,6,3.14,[10,20])

t3 = t1+t2
print(t3)
print(type(t3))

(1, 2, 3, 'NTT', (2+3j), 4, 5, 6, 3.14, [10, 20])
<class 'tuple'>

In [ ]:
# tuple multiplication

t1 = (10,20,30)
t2 = t1*3

print(t2)
print(type(t2))

(10, 20, 30, 10, 20, 30, 10, 20, 30)
<class 'tuple'>

In [ ]:
# iterating tuple

t1 = (1,2,3,4,5,6)

for i in t1:
  print(i)

1
2
3
4
5
6

In [ ]:
# Slicing in tuple

t1 = (1, 2, 3, 'NTT', (2+3j), 4, 5, 6, 3.14, [10, 20])

print(t1[0:5])
print(t1[4:])

(1, 2, 3, 'NTT', (2+3j))
((2+3j), 4, 5, 6, 3.14, [10, 20])

In [ ]:
# Dictionary

d1 = {"name": "Ram", "age":30, "city": "New Delhi"}

print(d1)
print(type(d1))

print(d1.keys())
print(d1.values())
print(d1.items())

l1 = list(d1.items())
print(l1)
print(l1[1])

{'name': 'Ram', 'age': 30, 'city': 'New Delhi'}
<class 'dict'>
dict_keys(['name', 'age', 'city'])
dict_values(['Ram', 30, 'New Delhi'])
dict_items([('name', 'Ram'), ('age', 30), ('city', 'New Delhi')])
[('name', 'Ram'), ('age', 30), ('city', 'New Delhi')]
('age', 30)

**Day 8** - April 25, 2025

In [10]:
# Creating a Dictionary

d1 = {2:100, 4:200, 6:300, 8:400, 10:500}

d2 = {'aa':100, 'bb':200, 'cc':300}

d3 = {3:[1,2,3], 6:(4,5,6), 9:'NTT'}

d4 = {(1,2):100, (3,4):200, (5,6):300}

print(d1)
print(type(d1))

print(d1[4])
print(d2['cc'])
print(d3[9])
print(d4[(1,2)])

{2: 100, 4: 200, 6: 300, 8: 400, 10: 500}
<class 'dict'>
200
300
NTT
100

In [13]:
# ITEREATING A DICTIONARY - keys

d1 = {2:100, 4:200, 6:300, 8:400, 10:500}

for key1 in d1:
  print(key1)

2
4
6
8
10

In [14]:
# ITEREATING A DICTIONARY - values

d1 = {2:100, 4:200, 6:300, 8:400, 10:500}

for val in d1:
  print(d1[val])

100
200
300
400
500

In [16]:
# ITEREATING A DICTIONARY - values

d1 = {2:100, 4:200, 6:300, 8:400, 10:500}

for val in d1.values():
  print(val)

100
200
300
400
500

In [17]:
# ITEREATING A DICTIONARY - items

d1 = {2:100, 4:200, 6:300, 8:400, 10:500}

for element in d1.items():
  print(element)

(2, 100)
(4, 200)
(6, 300)
(8, 400)
(10, 500)

In [12]:
# Membership operator

d1 = {2:100, 4:200, 6:300, 8:400}

if 2 in d1:
  print('2 is present')

if 10 not in d1:
  print('10 is not present')

2 is present
10 is not present

In [6]:
# Inbuilt methods - keys()

d1 = {2:100, 4:200, 6:300, 8:400, 10:500}
keys = d1.keys()
print(keys)
print(type(keys))

l1 = list(keys)
print(l1)
print(type(l1))

dict_keys([2, 4, 6, 8, 10])
<class 'dict_keys'>
[2, 4, 6, 8, 10]
<class 'list'>

In [13]:
# Inbuilt methods - values()

d1 = {2:100, 4:200, 6:300, 8:400, 10:500}

val = d1.values()
print(val)
print(type(val))

l1 = list(val)
print(l1)
print(type(l1))

dict_values([100, 200, 300, 400, 500])
<class 'dict_values'>
[100, 200, 300, 400, 500]
<class 'list'>

In [14]:
# Inbuilt methods - items()

d1 = {2:100, 4:200, 6:300, 8:400, 10:500}

it = d1.items()
print(it)

dict_items([(2, 100), (4, 200), (6, 300), (8, 400), (10, 500)])

In [26]:
# Inbuilt methods - get()

d1 = {2:100, 4:200, 6:300, 8:400, 10:500}

val = d1.get(2)
print(val)

val2 = d1.get(20)
print(val2)

val3 = d1.get(30,0) # 0 is the default value
print(val3)

100
None
0

In [28]:
# Inbuilt methods - pop()

d1 = {2:100, 4:200, 6:300, 8:400, 10:500}

val = d1.pop(2)
print(val)
print(d1)

val2 = d1.pop(20,1000) # 1000 is default value
print(val2)
print(d1)

100
{4: 200, 6: 300, 8: 400, 10: 500}
1000
{4: 200, 6: 300, 8: 400, 10: 500}

In [31]:
# Inbuilt methods - update()

d1 = {2:100, 4:200, 6:300, 8:400}
d2 = {10:1000, 20:2000}

d1.update(d2)
print(d1)

d1.update({2:10000, 200:20000})
print(d1)

{2: 100, 4: 200, 6: 300, 8: 400, 10: 1000, 20: 2000}
{2: 10000, 4: 200, 6: 300, 8: 400, 10: 1000, 20: 2000, 200: 20000}

In [32]:
d1 = {2:100, 4:200, 6:300, 8:400, 2:500}

print(d1)

{2: 500, 4: 200, 6: 300, 8: 400}

In [34]:
# Inbuilt methods - clear()

d1 = {2:100, 4:200, 6:300, 8:400, 2:500}

print(d1)
d1.clear()
print(d1)

{2: 500, 4: 200, 6: 300, 8: 400}
{}

In [37]:
# Inbuilt methods - shallow copy

d1 = {2:100, 4:200, 6:300, 8:400, 2:500}

d2 = d1.copy()
print(d1)
print(d2)

print(id(d1))
print(id(d2))

{2: 500, 4: 200, 6: 300, 8: 400}
{2: 500, 4: 200, 6: 300, 8: 400}
137114536772608
137114536547008

In [38]:
# Inbuilt methods - fromKeys()

keys = [1,2,3,4]
d1 = dict.fromkeys(keys)
print(d1)

d2 = dict.fromkeys(keys,100) # 100 is default value
print(d2)

d1 = {2:100, 4:200, 6:300, 8:400, 2:500}

{1: None, 2: None, 3: None, 4: None}
{1: 100, 2: 100, 3: 100, 4: 100}

In [41]:
# Inbuilt methods - =zip(keys,value)

k=[1,2,3,4,5]
v = [10,20,30,40,50]

d1 = dict(zip(k,v))
print(d1)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50}