<a href="https://colab.research.google.com/github/ashish-ntt-training/python-ml-journey/blob/main/Day1_ML_journey.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Day 1** - April 07, 2025

In [ ]:
print("hello world")

hello world

In [ ]:
a = 10
b = 10

print(a==b)

True

**Day 2** - April 09, 2025

In [ ]:
a=10
b=20
c=a
print(id(a)) # id function returns the memory location of a varaiable
print(id(b))
print(id(c))

10751144
10751464
10751144

In [ ]:
a,b,c=10,20,30 # Variables can be assigned like this also
print(a,b,c)

10 20 30

In [ ]:
a=b=c=10 # Variables can be assigned like this also
print(a,b,c)

10 10 10

In [ ]:
import keyword as kw # it lists all the keywords reserved in Python here "kw" is alias it can be anything
print(kw.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
# multiline comment
"""This is
a multiline
comment"""
print("Hello")

Hello

In [ ]:
#python string
a = 'ntt'
b = "data"
print(a)
print(b)
print(a,b)

ntt
data
ntt data

In [ ]:
#multiline string
a = """aassds
ddddd
ddfff
fsdssws"""
print(a)

aassds
ddddd
ddfff
fsdssws

In [ ]:
# Positive String Indexing
a = 'NTT DATA'
print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[4])
print(a[5])
print(a[6])
print(a[7])

N
T
T

D
A
T
A

In [ ]:
# Negative String Indexing
a = 'NTT DATA'

print(a[-1])
print(a[-2])
print(a[-3])
print(a[-4])
print(a[-5])
print(a[-6])
print(a[-7])
print(a[-8])

A
T
A
D

T
T
N

**Day 3** - April 11, 2025

In [ ]:
# Creating a simple list

l = [10,20.3,"NTT", 3+4j]
print(l)
print(type(l))

[10, 20.3, 'NTT', (3+4j)]
<class 'list'>

In [ ]:
# type function returns the datatype class

a = 10
print(type(a))

b = 'NTT'
print(type(b))

c = 3.414
print(type(c))

d = 3+4J
print(type(d))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'complex'>

In [ ]:
# isinstance

a = 10
print(isinstance(a,int))
print(isinstance(a,float))
print(isinstance(a,str))

True
False
False

In [ ]:
# variable annotation

name: str = "Data"
print(name)

print(__annotations__['name'])
print(type(name))

Data
<class 'str'>
<class 'str'>

In [ ]:
# variable annotation

val: str = 10
print(val)

print(__annotations__['val'])
print(type(val))

10
<class 'str'>
<class 'int'>

**Day 6** - April 21, 2025

In [4]:
# Lists

l1 = [10,20,3.14,"NTT Data", 2+3j,[100,200,300]]

print(l1)

print(type(l1))

print(l1[0],l1[-1])

[10, 20, 3.14, 'NTT Data', (2+3j), [100, 200, 300]]
<class 'list'>
10 [100, 200, 300]

In [11]:
# Slicing in list
l2 = [10,20,3.14,"NTT Data", 2+3j,[100,200,300]]

print(l2[0:4])
print(l2[0:4:2])
print(l2[::])
print(l2[::-1])

[10, 20, 3.14, 'NTT Data']
[10, 3.14]
[10, 20, 3.14, 'NTT Data', (2+3j), [100, 200, 300]]
[[100, 200, 300], (2+3j), 'NTT Data', 3.14, 20, 10]

In [15]:
# Concatenation of lists

l1 = [10,20,34]
l2 = [50,60,70]
l3 = l1 + l2

print(l1)
print(l2)
print(l3)

print(id(l1))
print(id(l2))
print(id(l3))

[10, 20, 34]
[50, 60, 70]
[10, 20, 34, 50, 60, 70]
136125959138944
136125957368128
136125957360128

In [18]:
# Multiplication of lists

l1 = [10,20,30]
l2 = l1*3

print(l1*2)
print(l2)

[10, 20, 30, 10, 20, 30]
[10, 20, 30, 10, 20, 30, 10, 20, 30]

In [24]:
# Iteration of list

l1 = [10,20,30,40,50]

for i in l1:
  print(i)

10
20
30
40
50

In [23]:
# Iteration of list

l1 = [10,20,30,40,50]

for i in l1:
  print(i+5)

15
25
35
45
55

In [26]:
# Iteration of list

for i in [10,20,30,40,50]:
  print(i+6)

16
26
36
46
56

In [39]:
# Membership operator - in

print(10 in [10,20,30,40,50])
print(100 in [10,20,30,40,50])

print('s' in 'NTT Data')
print('N' in 'NTT Data')

True
False
False
True

In [41]:
# Membership operator - not in

print(100 not in [10,20,30,40,50])
print(10 not in [10,20,30,40,50])

print('s' not in 'NTT Data')
print('N' not in 'NTT Data')

print ('NTT' in "NTT DATA")

True
False
True
False
True

In [43]:
# Deletion of a list - del

l1 = [10,20,30,40,50]

print(l1)
del l1 # deleting the l1 list
print(l1) #will throw error 'l1' is not defined

[10, 20, 30, 40, 50]

NameError: name 'l1' is not defined

In [44]:
# Deletion of an element in list - del

l1 = [10,20,30,40,50]

print(l1)
del l1[1] # deleting the elemenmt at position 1
print(l1)

[10, 20, 30, 40, 50]
[10, 30, 40, 50]

In [52]:
# Inbuilt functions
# max()

l1 = [10,200,3,500,80]
print(max(l1))

l2 = ['aaa','bbbb','ccc']
print(max(l2)) #ASCII vlue will be compared

500
ccc

In [53]:
# Inbuilt functions
# max()

l3 = [10,20,'ntt data']
print(max(l3)) # will throw an error - cannot compare between string and integer

TypeError: '>' not supported between instances of 'str' and 'int'

In [55]:
# Inbuilt functions
# max()

l4 = ['aaa','bbbb','cccccccc']
print(max(l4 , key = len)) #compare based on length, len is inbuild method

cccccccc

In [59]:
# Inbuilt functions
# max()

l5 = []
print(max(l5,default = 0)) # giving a default value in case list is empty

0

In [ ]:
# min() functin returns the minimum element, rest all is same as max()

In [66]:
# append function - this function doesn't returns anything

l1  = [10,20,30,40]

print(l1)

l1.append(50)
print(l1)

l1.append(80)
l1.append(70)
l1.append([60,90,2+3j])
l1.append('ntt data')
print(l1)

[10, 20, 30, 40]
[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50, 80, 70, [60, 90, (2+3j)], 'ntt data']

In [69]:
# take six inputs and add it to list

l1 = [1,2,3,4]

count = 1
while count <= 6:
  element = input("Enter element")
  l1.append(element)
  count +=1

print(l1)

Enter elementa
Enter elementb
Enter elementn
Enter elementd
Enter elemente
Enter elementf
[1, 2, 3, 4, 'a', 'b', 'n', 'd', 'e', 'f']

In [72]:
# take six inputs and add it to list

list = []
for i in range(6):
  num = int(input("Enter a number"))
  list.append(num)

print(list)

Enter a number1
Enter a number2
Enter a number3
Enter a number4
Enter a number5
Enter a number6
[1, 2, 3, 4, 5, 6]

In [75]:
# Extend mathod

l1 = [10,20,30]
l2 = [40,50,60]

print(l1)
print(l2)

l1.extend(l2)

print(l1)

[10, 20, 30]
[40, 50, 60]
[10, 20, 30, 40, 50, 60]

In [76]:
# Extend mathod

l1 = [10,20,30]
l2 = [40,50,60]

print(l1)
print(l2)

l1.extend(['a','b',50])

print(l1)

[10, 20, 30]
[40, 50, 60]
[10, 20, 30, 'a', 'b', 50]

In [79]:
# Insert method
# Syntax - list.insert(index,element)

l1 = [10,20,30,40,50]
print(l1)

l1.insert(0,1000)
print(l1)

l1.insert(3,2000)
print(l1)

[10, 20, 30, 40, 50]
[1000, 10, 20, 30, 40, 50]
[1000, 10, 20, 2000, 30, 40, 50]

In [80]:
# Remove method
# Syntax - list.remove(element)
# Removes the first occurance of the elemnent

l1 = [10,20,30,40,50]
print(l1)

l1.remove(30)
print(l1)

[10, 20, 30, 40, 50]
[10, 20, 40, 50]

In [81]:
# Remove method
# Syntax - list.remove(element)
# Removes the first occurance of the elemnent

l1 = [10,20,30,40,30,50]
print(l1)

l1.remove(30)
print(l1)

[10, 20, 30, 40, 30, 50]
[10, 20, 40, 30, 50]

In [82]:
# Pop method
# Syntsx - list.pop(index)
# removes the element at provided index. If index not provided then last element is removed.
# Returns the popped element

l1 = [10,20,30,40,50]
print(l1)

l1.pop()
print(l1)

l1.pop(2)
print(l1)

[10, 20, 30, 40, 50]
[10, 20, 30, 40]
[10, 20, 40]

In [86]:
# Pop method
# Syntsx - list.pop(index)
# removes the element at provided index. If index not provided then last element is removed.
# Returns the popped element

l1 = [10,20,30,40,50]
print(l1)

res=l1.pop()
print(res)
print(l1)

[10, 20, 30, 40, 50]
50
[10, 20, 30, 40]
[10, 20, 30, 40, 50]
20
[10, 20, 30, 40]

In [88]:
# Pop method
# Syntsx - list.pop(index)
# removes the element at provided index. If index not provided then last element is removed.
# Returns the popped element

l2 = [10,20,30,40,50]
print(l2)

res=l2.pop(1)
print(res)
print(l2)

[10, 20, 30, 40, 50]
20
[10, 30, 40, 50]

In [89]:
# Clear method
# Syntax - list.clear()
# removes all element in a list

l1 = [10,20,30,40,50]
print(l1)

l1.clear()
print(l1)

[10, 20, 30, 40, 50]
[]

In [92]:
# Del method
# Syntax - del list[index] - deletes the index element
# Syntax - del list[index1:index2] - deletes index1 to index2
# Syntax - del list - deletes entire list

l1 = [10,20,30,40,50,60]
print(l1)

del l1[2]
print(l1)

[10, 20, 30, 40, 50, 60]
[10, 20, 40, 50, 60]

In [93]:
# Del method
# Syntax - del list[index] - deletes the index element
# Syntax - del list[index1:index2] - deletes index1 to index2
# Syntax - del list - deletes entire list

l1 = [10,20,30,40,50,60]
print(l1)

del l1[2:4]
print(l1)

[10, 20, 30, 40, 50, 60]
[10, 20, 50, 60]

In [95]:
# Del method
# Syntax - del list[index] - deletes the index element
# Syntax - del list[index1:index2] - deletes index1 to index2
# Syntax - del list - deletes entire list

l1 = [10,20,30,40,50,60]
print(l1)

del l1
print(l1) # Throws error because l1 no longer exists

[10, 20, 30, 40, 50, 60]

In [101]:
# program to remove duplicate element
# input l1 = [10,20,10,30,20,45]
# output = [10,20,30,45]

l1 = [10,20,10,30,20,45]
l2 = []
for num in l1:
  if num not in l2:
    l2.append(num)
print(l2)

[10, 20, 30, 45]

In [105]:
# Find second largest element in list

l1 = [10,30,40,20,50]

l1.sort()
print(l1)
print(l1[-2])

[10, 20, 30, 40, 50]
40

In [110]:
# Find second largest element in list

l1 = [10,30,40,20,50]

l1.remove(max(l1))
print(max(l1))

40