<a href="https://colab.research.google.com/github/ashish-ntt-training/python-ml-journey/blob/main/Day1_ML_journey.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Day 1** - April 07, 2025

In [ ]:
print("hello world")

hello world

In [ ]:
a = 10
b = 10

print(a==b)

True

**Day 2** - April 09, 2025

In [ ]:
a=10
b=20
c=a
print(id(a)) # id function returns the memory location of a varaiable
print(id(b))
print(id(c))

10751144
10751464
10751144

In [ ]:
a,b,c=10,20,30 # Variables can be assigned like this also
print(a,b,c)

10 20 30

In [ ]:
a=b=c=10 # Variables can be assigned like this also
print(a,b,c)

10 10 10

In [ ]:
import keyword as kw # it lists all the keywords reserved in Python here "kw" is alias it can be anything
print(kw.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
# multiline comment
"""This is
a multiline
comment"""
print("Hello")

Hello

In [ ]:
#python string
a = 'ntt'
b = "data"
print(a)
print(b)
print(a,b)

ntt
data
ntt data

In [ ]:
#multiline string
a = """aassds
ddddd
ddfff
fsdssws"""
print(a)

aassds
ddddd
ddfff
fsdssws

In [ ]:
# Positive String Indexing
a = 'NTT DATA'
print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[4])
print(a[5])
print(a[6])
print(a[7])

N
T
T

D
A
T
A

In [ ]:
# Negative String Indexing
a = 'NTT DATA'

print(a[-1])
print(a[-2])
print(a[-3])
print(a[-4])
print(a[-5])
print(a[-6])
print(a[-7])
print(a[-8])

A
T
A
D

T
T
N

**Day 3** - April 11, 2025

In [ ]:
# Creating a simple list

l = [10,20.3,"NTT", 3+4j]
print(l)
print(type(l))

[10, 20.3, 'NTT', (3+4j)]
<class 'list'>

In [ ]:
# type function returns the datatype class

a = 10
print(type(a))

b = 'NTT'
print(type(b))

c = 3.414
print(type(c))

d = 3+4J
print(type(d))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'complex'>

In [ ]:
# isinstance

a = 10
print(isinstance(a,int))
print(isinstance(a,float))
print(isinstance(a,str))

True
False
False

In [ ]:
# variable annotation

name: str = "Data"
print(name)

print(__annotations__['name'])
print(type(name))

Data
<class 'str'>
<class 'str'>

In [2]:
# variable annotation

val: str = 10
print(val)

print(__annotations__['val'])
print(type(val))

10
<class 'str'>
<class 'int'>